@model IEnumerable<Files.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                <a class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>Добавить</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" 
                   onclick="if (confirm('Are you sure to delete this record?')) return confirm('Are you REALLY sure to DELETE IT?')">
                    <i class="fa fa-trash-alt fa-lg"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
