@model IEnumerable<Files.Models.Author>

@{
    ViewData["Title"] = "Преподаватели";
}

<h1>Преподаватели</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.Message</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                <a class="btn btn-outline-success" asp-action="Create"><i class="far fa-plus-square"></i>Добавить</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1"
                       onclick="return (confirm('Вы точно хотите удалить этого преподавателя?') ? confirm('ВЫ УВЕРЕНЫ?') : false);">
                        <i class="fa fa-trash-alt fa-lg"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
